{% include text/center_section_title.html
  text='HOW TO APPLY'
%}

{% capture left_text_one %}
  <p>.</p>

{% endcapture %}

{% capture right_text_one %}
<ul>
    <li>.</li>
  </ul>
{% endcapture %}

{% capture right_text_two %}
  <p>.</p>
  <!--<a href='{{ include.page.application_url }}' target='_blank' class='white-button'>Apply Here</a>-->
{% endcapture %}

{% include text/color_blocks.html
  left_title_one='Grant Process'
  left_text_one=left_text_one

  right_title_one='Eligibility'
  right_text_one=right_text_one

  right_title_two='Application Requirements'
  right_text_two=right_text_two
%}
