---
layout: default
class: about-page
title: About
---

{% capture caption %}
  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .
{% endcapture %}

{% assign image_url = '/assets/images/about/busa.png' | prepend: site.baseurl %}
{% include heroes/captioned_hero.html
  label='About'
  title='Who We Are'
  caption=caption
  image=image_url
%}

<div class='center-column'>
  <div class='two-column-container one-third-width top-text'>
    <div class='left-column'>
      {% include sidebars/about_left_sidebar.html page=page %}
    </div>
    <div class='right-column' role='main'>
      {% include text/mobile_section_title.html
        category='About'
        title='Who We Are'
      %}
      <h1>Our Mission</h1>
      <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
      <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
      <h1>Our Guiding Principles</h1>
      <ol>
        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</li>
        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</li>
        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</li>
        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</li>
        <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</li>
      </ol>

      <h1>Our Partners and Collaborators</h1>
      <p>Our collaborates include:
        <ul>
          <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
          <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
          <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
          <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
          <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
          <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>
          <li>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</li>		  
        </ul>
      </p>

      <h1>A Brief History</h1>
      <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
      <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
    </div>
  </div>

  {% include text/center_section_title.html
    text='OUR CORE TEAM'
    id='team'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','core_team' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% capture left_text %}
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
  {% endcapture %}

  {% capture right_text %}
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum.</p>
  {% endcapture %}

  {% assign right_button_url = '/awards/student-jobs.html' | prepend: site.baseurl %}

  <div class='tablet-center'>
    {% include text/bottom_text_about.html
      left_title = 'Compiler Research'
      left_text = left_text

      right_title = 'Work With Us'
      right_text = right_text
      right_button_url = right_button_url
      right_button_label = 'Student Jobs'
    %}
  </div>

  {% include text/center_section_title.html
    text='OUR GENERALIST CONSULTANTS'
    id='generalists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','generalist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>

  {% include text/center_section_title.html
    text='OUR SPECIALIST CONSULTANTS'
    id='specialists'
  %}

  <div class='color-background circle-caret'>
    {% assign team_members = site.team | where:'group','specialist_consultants' | sort: 'order' %}
    {% for team_member in team_members %}
      {% include about/team_member.html team_member=team_member %}
    {% endfor %}
  </div>
</div>
