---
layout: default
class: awards-page full-width-mobile
header_color: gray
title: Programs
---

<div class='center-column' role='main'>
  {% capture text %}
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>

  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
  
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
  
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Partner with Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='PROGRAMS'
  %}

  {% capture left_text_one %}
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
    <a href='{{ site.baseurl }}/awards/certificate.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% capture right_text_one %}
   <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>
    <a href='{{ site.baseurl }}/awards/dissertation-fellowship.html'
      class='white-button'>Learn More</a>
  {% endcapture %}


  {% include text/color_blocks.html
    left_title_one='Digital Humanities Certificate'
    left_text_one=left_text_one

    right_title_one='Digital Dissertation Fellowship'
    right_text_one=right_text_one
  %}

</div>
