---
layout: default
class: methods-page full-width-mobile hide-color-hr
header_color: gray
title: Methods
---

<div class='center-column' role='main'>
  {% capture text %}
    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum . 
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Lorem Ipsum Lorem Ipsum?'
    text=text
  %}

  {% include text/center_section_title.html text='START HERE' %}

  {% capture left_text_one %}
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>

  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
  {% endcapture %}

  {% capture right_text_one %}
  <p>To scope out your research question or presenting your work, or for other questions or help, <a href="">book a consultation</a> with one of our staff members.</p> 
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Compiler Research in Research and Practice'
    left_text_one=left_text_one

    right_title_one='Begin with a Question'
    right_text_one=right_text_one
  %}

  {% capture text %}
  Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum 
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='What do Compiler Research projects look like?'
    text=text
  %}

  {% include text/methods_guides_bottom.html %}
</div>
