---
layout: default
class: opportunities-page full-width-mobile
header_color: gray
title: Opportunities
---

<div class='center-column' role='main'>
  {% capture text %}
  <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>

  <p>To explore how the Compiler Research Organization could support your research, please visit our <a href='{{ site.baseurl }}/propose-a-project.html'>project proposal page</a>.</p>
  
  <p>To learn more about our graduate student development programs, please read below.</p>
  {% endcapture %}

  {% include text/one-third-width/one_third_split_text_block.html
    title='Work With Us'
    text=text
  %}

  {% include text/center_section_title.html
    text='OPPORTUNITIES'
  %}

  {% capture left_text_one %}
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
    <a href='{{ site.baseurl }}/awards.html'
      class='white-button'>Learn More</a>
  {% endcapture %}
  
  {% capture right_text_one %}
    <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
    <a href='{{ site.baseurl }}/awards/student-jobs.html'
      class='white-button'>Learn More</a>
  {% endcapture %}

  {% include text/color_blocks.html
    left_title_one='Programs'
    left_text_one=left_text_one

    right_title_one='Lorem Ipsum Lorem Ipsum Lorem Ipsum'
    right_text_one=right_text_one

  %}

</div>
