<footer role='content-info'>
  <div class='center-column'>
    <div class='footer-column footer-top'>
      <div class='footer-logo'>
        <a href='http://compiler-research.org' target='_blank'>
          <img src='{{ site.baseurl }}/assets/images/branding/dhlab_footer.svg'
            alt='Compiler Research Footer Logo'>
        </a>
      </div>
    </div>
    <div class='footer-column footer-bottom'>
      <div>Compiler Research Organization</div>
      <div>Princeton University</div>
      <div>Washington Road & Ivy Lane, New Jersey</div>
      <div class='footer-mobile-icons'>
        <a href='mailto:{{ site.email }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-email.svg'
            alt='Email icon'>
        </a>
        <a href='https://twitter.com/{{ site.twitter }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-twitter.svg'
            alt='Twitter icon'>
        </a>
        <a href='https://www.github.com/{{ site.github }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-github.svg'
            alt='GitHub icon'>
        </a>
        <a href='https://www.instagram.com/{{ site.instagram }}'>
          <img src='{{ site.baseurl }}/assets/images/icons/footer-instagram.svg'
            alt='Instagram icon'>
        </a>
      </div>
      <div>
        <a class='hide-tablet' href='mailto:myofficialemail@a.c'>myofficialemail@a.c</a>
      </div>
      <br/>
      <div>
        <b><a href='{{ site.baseurl }}/terms-of-use.html'>TERMS OF USE</a></b> & <b><a href='{{ site.baseurl }}/privacy-policy.html'>PRIVACY POLICY</a></b><br/><br/>
      </div>
      <div>
        <b><a href='' target='_blank'>ACCESSIBILITY</a></b>
      </div>
    </div>
    <div class='footer-column footer-bottom' id='footer-on-campus'>
      <b>OUR PARTNERS</b>
      <br/>
      <br/>
      <div>
        <a href=''>Partner 1</a>
      </div>
      <div>
        <a href=''>Partner 2</a>
      </div>
      <div>
        <a href=''>Partner 3</a>
      </div>
      <div>
        <a href=''>Partner 4</a>
      </div>
      <div>
        <a href=''>Partner 5</a>
      </div>
      <div>
        <a href=''>Partner 6</a>
      </div>
      <br/>
      <div>
        <b><a href='' target='_blank'>SIGN UP FOR COMPILER RESEARCH EMAILS</a></b>
      </div>
    </div>
  </div>
</footer>
